body {
  background-color: whitesmoke;
  color: black;
  font-family: "Playfair Display", serif;
}

#navbar{
    margin: 2%;
    border-radius: 5px;
    padding: 2%;
}

#navbarSupportedContent{
    justify-content: space-between;
}

.navbar-brand{
    margin-right: 3rem;
    font-size: 1.40rem;
    font-weight: 800;
}

#firstplaceholder{
    align-items: start;
    margin: 3%;
    display: inline-flex;
}

#h11{
    font-size: 5vw;
}

#underh11{
    color: grey;
    text-align: justify;
}

#lamb1{
    
    width: 40vw;
    margin-right: 1vw;
}